DataBrowser/DataBrowser.WebRole/App_Data/Xml/Languages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Languages">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DVLanguage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="MVLanguage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="BarChartLanguage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="PieChartLanguage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Path" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>